.courses-img{
    height: 250px;
    width: 100%;
}

.course-img {
    width: 20%;
}

.card-option{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.course-content{
    display: flex;
    flex-direction: column;
}